/*body*/
body{
  background-color: #ebebe3;
}

/*header*/
nav {
  background-color: #ebebe3;
  line-height: 1%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
}

.container-fluid{
  background-color: #ebebe3;
}

.logo{
  display: flex;
}

@media (max-width: 576px) {
  .card-job {
    margin-bottom: 20px; 
  }
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 20px; 
  }
}

ul {
  list-style-type: none;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li{
  padding:0px 6px;
}

@media (max-width:700px){
  nav,ul{
    flex-direction:column;
  }
}

a {
  color: black;
  margin-inline: auto;
}

a:active {
  background-color: white;
}

/* cards */
.card-job {
  width: 300px;
  height: 300px;
  border-radius: 16px;
  background-color: #fbfbfb;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 6px 16px;
  box-shadow: 0px 1px 3px 1px #00000026;  
  margin-inline: auto;
}

.card{
  background-color: #fbfbfb;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 1px 3px 1px #00000026;  
  margin-inline: auto;
}

.company-logo{
  width: 100px;
  margin-inline: auto;
}

.card-img-top {
  width: 300px;
  height: 300px;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.row {
  padding: 10px;
  box-align: center;
}

.col {
  align-items: center;
}

/* inscriere */
.complete{
  margin-left: 145px;
}

.background-img{
  max-width: 400px;
  max-height: 400px;
  margin-left: 15px;
}

@media (max-width:500px){
  background-img{
    align-items: center;
  }
}

/* footer */
.inscriere {
  height: auto;
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  text-align: center;
  width: 50%;
}
